@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

.card {
    // margin: 3rem auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    // width: 20%;
    border-radius: 8px;
    padding: 2rem 1rem;
    text-align: left;
    background-color: #f4f0fa;
    position: relative;
    margin-top: 2rem;
}
